@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-cream text-gray-800;
  }
}

.clip-triangle {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

/* For the 3D flip card effect */
.perspective-1000 {
  perspective: 1000px;
}
.transform-style-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
